


/* banner section */

/* banner tittle on picture */
.container_banner {
    position: relative;
    /* text-align: center; */
    padding-bottom: 20px;
    margin: 10px;
   
  }
.top-left {
    position: absolute;
    top: 20px;
    left:20px;
    color: white;
    font-size: 35px;
    float: left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* -webkit-text-stroke: 1px black; */
    color: white;
    /* font-weight: bold; */
  }


/* exterior info & images */

.exteriorContainer{
  /* border: 1px solid black; */
  width:300px;
  margin: 10px;
  display: inline-block;
/* change title for exterior design */
  color:black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
}
.exteriorImg {
  width: 300px;
}



.exteriorContainerPlus{
  width:625px;
  margin: 10px;
  display: inline-block;
/* change title for exterior design */
  color:black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
}

.exteriorImgPlus {
  width: 625px;
}

.exteriorDescription{
  font-size: 20px;
  margin: 15px;


}


/* #1 musscle car banner */
.number1{
  margin: 10px;
  background-color: #00324e;
  
}











/* *************************************** */
/* ********** Models & Specs ************* */ 
/* *************************************** */

.wrapper{
    width: 100%;
    text-align: center;
}

.eachModel{
    border: 1px solid black;
    width:250px;
    margin: 20px;
    display: inline-block;
}
.mustangModels{
  width: 250px;
}

.titleModel{
    color:#052943;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding: 10px;
}
.descriptionModel{
    font-size: 13px;
    color:#4999d3;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    line-height: 1.5;
    list-style-type: none;
}

.priceModel{
    color:#052943;
    font-family: Arial, Helvetica, sans-serif;
}





/* *************************************** */
/* ***************  Footer *************** */ 
/* *************************************** */


footer{
    /* width: 100%; */
    margin: 10px;
    height: 150px;
    background-color: #00324e;
}

  /* Footer */

  @import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);

* {
  font-family: Roboto;
}


.footer-distributed {
  background-color: #00324e;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  /* width: 100%; */
  text-align: left;
  font: normal 16px sans-serif;
  padding: 45px 50px;

}

.footer-distributed .footer-left p {
  color: #8f9296;
  font-size: 14px;
  margin: 0;
}
/* Footer links */

.footer-distributed p.footer-links {
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  margin: 0 0 10px;
  padding: 0;
  transition: ease .25s;
}

.footer-distributed p.footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
  transition: ease .25s;
}

.footer-distributed .footer-links a:before {
  content: "·";
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

.footer-distributed .footer-right {
  float: right;
  margin-top: 6px;
  max-width: 180px;
}

.footer-distributed .footer-right a {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-color: #027cc3;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-left: 3px;
  transition:all .25s;
}

.footer-distributed .footer-right a:hover{transform:scale(1.1); -webkit-transform:scale(1.1);}

.footer-distributed p.footer-links a:hover{text-decoration:underline;}







.number1Img{
  width: 400px;
}


/* *************************************** */
/* **********  Media Queries ************* */ 
/* *************************************** */

@media (max-width: 700px) {
  .exteriorImgPlus{
    width: 500px;
  }
  .exteriorContainerPlus {
    width: 500px;
  }
}



@media (max-width: 600px) {
  .footer-distributed .footer-left, .footer-distributed .footer-right {
    text-align: center;
  }
  .footer-distributed .footer-right {
    float: none;
    margin: 0 auto;
  }
  .footer-distributed .footer-left p.footer-links {
    line-height: 1.8;
  }
  footer{
      height: 200px;
  }
  .top-left { 
    font-size: 20px; 
    font-weight: lighter;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    -webkit-text-stroke: 0;
  }
  .exteriorImgPlus{
    width: 300px;
  }
  .exteriorContainerPlus {
    width: 300px;
  }
  .number1Img{
    width: 350px!important;
  }
}